<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link
			rel="shortcut icon"
			href="message-outline.svg"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<%- include('header', {title: 'Mini Message Board', path:'/new', button:
		'New Message'}) %>
		<main>
			<ul>
				<% messages.forEach( (message) => { %>
				<li>
					<h3><%= message.username %></h3>
					<p><%= message.message %></p>
					<p><%= message.date %></p>
				</li>
				<% }); %>
			</ul>
		</main>
		<%- include('footer') %>
	</body>
</html>
